* {
  --switch-height: 32px;
  --switch-padding: 6px;
  --switch-width: calc((var(--switch-height) * 2) - var(--switch-padding));
  --slider-height: calc(var(--switch-height) - var(--switch-padding));
  --slider-on: calc(var(--switch-height) - var(--switch-padding));
}

.switch {
  position: relative;
  display: inline-block;
  width: var(--switch-width);
  height: var(--switch-height);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  content: "";
  position: absolute;
  height: var(--slider-height);
  width: var(--slider-height);
  left: calc(var(--switch-padding) / 2);
  bottom: calc(var(--switch-padding) / 2);
  background-color: var(--background-color);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--secondary-color);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--secondary-color);
}

input:checked+.slider:before {
  transform: translateX(var(--slider-on));
}

.slider.round {
  border-radius: var(--slider-height);
}

.slider.round:before {
  border-radius: 50%;
}

input:not(:checked) ~ svg.moon, input:checked ~ svg.sun {
	display: none;
}

label svg {
	position: absolute;
	width: 18px;
	top: 7px;
	z-index: 100;
	transition: 0.3s;
}

label svg.sun {
	left: 7px;
	fill: transparent;
}

label svg.moon {
	right: 7px;
	fill: var(--secondary-color);
}
label svg.sun path, label svg.moon path {
	stroke: var(--secondary-color);
}